.content {
	display: flex;
	flex-wrap: wrap;
}

.toggle_nav {
	display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

.scores {
	width: 100%;
}

@media screen and (max-width: 550px) {
	.header__logo {
		height: 62px;
	}

	.header__title {
		font-size: 1.5em;
	    vertical-align: bottom; 
	}

	.nav {
		z-index: 10;
		background-color: #fff;
		width: 300px;
		position: absolute;
		-webkit-transform: translate(-300px, 0);
		transform: translate(-300px, 0);
		-webkit-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
	}

	.nav.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.nav__item {
		display: list-item;
		border-bottom: 1px solid #E0E0E0;
		width: 100%;
		text-align: left;
  }
  
	.toggle_nav {
		display: inline-block;
		position: absolute;
		right: 0;
		font-size: 2em;
		padding: 1em;
	}
}

@media (min-width: 551px) {
	.hero {
		order: 0;
		width: 60%
	}

	.weather {
		order: 1;
		width: 40%;
	}
}

@media (min-width: 700px) {
	.hero{
		order: 0;
		width: 50%;
	}

	.top-news {
		order: 1;
		width: 50%;
	}

	.scores {
		order: 2;
		width: 55%;
	}

	.weather {
		order: 3;
		width: 45%;
	}
}

@media (min-width: 900px) {
	main, .header__inner, .nav, .content {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}